<!DOCTYPE html>
<html lang="zh-CN">

<head><title>wooyun public</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="static/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="static/js/jquery-1.11.3.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>
<body>
<h4></h4>
<h4></h4>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  	<form class="form-inline" action="/search" method="get">
	  <div class="form-group">
	    <label for="keywords">keywords:</label>
	    <input type="text" class="form-control" name="keywords" placeholder="keywords">
	  </div>
	  <button type="submit" class="btn btn-primary">Search</button>
	</form>
  </div>
  <div class="col-md-4"></div>
  </div>
</div>
</body>
</html>