.tabs {
  width: 95%;
  float: none;
  list-style: none;
  position: relative;
  margin: 0 0 0 0;
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 7px 5px 10px 10px;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  background: #d0d0d0;
  cursor: pointer;
  position: relative;
  top: 17px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #FCFCFC;
}
.tabs .tab-content {
	
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 20px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #FCFCFC;
}
.tabs [id^="tab"]:checked + label {
  top:17px;
  
  padding-top:7px;
  background: #FCFCFC;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}